Device.flow
[
    {
        "id": "4d7ac2c2.f987fc",
        "type": "tab",
        "label": "Pebblebee"
    },
    {
        "id": "851b0756.1efc98",
        "type": "switch",
        "z": "4d7ac2c2.f987fc",
        "name": "DeviceName",
        "property": "payload.peripheralUuid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BTLEID",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1402.5,
        "y": 259,
        "wires": [
            [
                "1039afd1.ddd6a",
                "c0cabc89.67e54"
            ],
            []
        ]
    },
    {
        "id": "1039afd1.ddd6a",
        "type": "trigger",
        "z": "4d7ac2c2.f987fc",
        "op1": "",
        "op2": "Absent!",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": true,
        "units": "min",
        "reset": "",
        "name": "",
        "x": 1597,
        "y": 203,
        "wires": [
            [
                "67e4c8b7.56b088"
            ]
        ]
    },
    {
        "id": "c0cabc89.67e54",
        "type": "function",
        "z": "4d7ac2c2.f987fc",
        "name": "Present",
        "func": "return {\n    payload: \"present\", \n    topic: flow.get(\"topic\")\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 1766,
        "y": 255,
        "wires": [
            [
                "72d5fbb5.71d1b4",
                "8e64337.5df7dd"
            ]
        ]
    },
    {
        "id": "67e4c8b7.56b088",
        "type": "function",
        "z": "4d7ac2c2.f987fc",
        "name": "Absent",
        "func": "return {\n    payload: \"not present\", \n    topic: flow.get(\"topic\")\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 1765,
        "y": 204,
        "wires": [
            [
                "72d5fbb5.71d1b4",
                "8e64337.5df7dd"
            ]
        ]
    },
    {
        "id": "5860ec67.1e5bd4",
        "type": "mqtt out",
        "z": "4d7ac2c2.f987fc",
        "name": "Virtual Presence",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "broker": "f12b3b93.96e338",
        "x": 2192,
        "y": 149,
        "wires": []
    },
    {
        "id": "72d5fbb5.71d1b4",
        "type": "rbe",
        "z": "4d7ac2c2.f987fc",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 1944,
        "y": 232,
        "wires": [
            [
                "5860ec67.1e5bd4"
            ]
        ]
    },
    {
        "id": "ad10a8fb.3efcb8",
        "type": "change",
        "z": "4d7ac2c2.f987fc",
        "name": "Configuration",
        "rules": [
            {
                "t": "set",
                "p": "BTLEID",
                "pt": "flow",
                "to": "0e0aa0012a75",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "flow",
                "to": "smartthings/Virtual Presence/presence",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 961.5,
        "y": 84,
        "wires": [
            []
        ]
    },
    {
        "id": "cf47051b.330d88",
        "type": "mqtt in",
        "z": "4d7ac2c2.f987fc",
        "name": "Devices Found",
        "topic": "BTLE/found",
        "qos": "0",
        "broker": "f12b3b93.96e338",
        "x": 740.5,
        "y": 255,
        "wires": [
            [
                "dc1799c4.7e60d8"
            ]
        ]
    },
    {
        "id": "dc1799c4.7e60d8",
        "type": "json",
        "z": "4d7ac2c2.f987fc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 983,
        "y": 255,
        "wires": [
            [
                "851b0756.1efc98"
            ]
        ]
    },
    {
        "id": "75392367.d1515c",
        "type": "inject",
        "z": "4d7ac2c2.f987fc",
        "name": "Set Configuration",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 733.5,
        "y": 76,
        "wires": [
            [
                "ad10a8fb.3efcb8"
            ]
        ]
    },
    {
        "id": "8e64337.5df7dd",
        "type": "debug",
        "z": "4d7ac2c2.f987fc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1999,
        "y": 300.5,
        "wires": []
    },
    {
        "id": "f12b3b93.96e338",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
